* {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

:root {
    --background-picture:  url('../images/night.jpg') no-repeat center center fixed;
    --text-color: white;
    --hover-color: black;
    scrollbar-color: rgb(255, 255, 255) rgb(0, 0, 0);
    --aTag: orange;
    --Title: #7D0000;
}
.light-theme {
    --background-picture: url('../images/day.jpg') no-repeat center center fixed;
    --text-color: black;
    --hover-color: white;
    scrollbar-color: black rgb(255, 255, 255);
    --aTag: rgb(0, 17, 255);
    --Title: red;
}

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    background: var(--background-picture);
    background-size: cover;
}

header, footer {
    width: 90%;
    margin: 0 auto;
    text-align: center;
    padding: 1rem;
    align-items: center;
}

header {
    display: flex;
    justify-content: space-between;
    height: auto;
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}

header nav {
    align-self: center;
}

header nav a {
    font-weight: bold;
    text-decoration: none;
    color: var(--text-color);
    margin-left: 1rem;
    font-size: larger;
}

header nav a:hover {
    border-radius: 5px;
    background-color: var(--text-color);
    color: var(--hover-color);
    box-shadow: 0 0 10px 10px rgba(255, 255, 255, 0.7);
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    border-top: 2px solid var(--text-color);
    color: var(--text-color)
}

footer a {
    text-decoration: none;
    color: var(--text-color)
}

footer i {
    cursor: pointer;
    border-radius: 50%;
    width: auto;
    height: auto;
    padding: 0;
    margin-right: 2rem;
    font-size: 30px;
}

footer i:hover {
    box-shadow: 0 0 10px 5px rgba(255, 255, 255, 0.7);
}

#instagram:hover {
    background: linear-gradient(to bottom, rgb(153, 0, 255), rgb(216, 36, 96), rgb(255, 0, 157), yellow);
    border-radius: 10px;
}

#linkedin:hover {
    color: blue;
    background-color:white;
    border-radius: 10px;
}

#github:hover {
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    border-radius: 46%;
}

.name {
    cursor:not-allowed;
    margin-top: 1rem;
}

.name h1 {
    color: var(--Title);
    margin: 0;
    margin-bottom: 10px;
    font-size: 40px;
}

.name h4 {
    display: flex;
    justify-content: center;
    margin: 0;
    color: var(--text-color)
}

.background {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: absolute;
    top: 10rem;
    left: 0;
    width: 99%;
    height: 72%;
}

.background img {   
    animation: dance 2s;
}

@keyframes dance {
    0% { transform: rotate(0deg); }
    25% { transform: rotate(20deg); }
    50% { transform: rotate(0deg); }
    75% { transform: rotate(-20deg); }
    100% { transform: rotate(0deg); }
}

.theme-toggle {
    width: 60px;
    height: 30px;
    background-color: #666;
    border-radius: 15px;
    position: relative;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.toggle-circle {
    width: 28px;
    height: 28px;
    background-color: white;
    border-radius: 50%;
    position: absolute;
    top: 1px;
    left: 1px;
    transition: left 0.3s ease, background-image 0.3s ease;
    background-size: cover;
}

.light-theme .theme-toggle {
    background-color: #ccc;
}

.sun-icon {
    background-image: url('../images/sun.png');
}

.moon-icon {
    background-image: url('../images/moon.png');
}

.light-theme .toggle-circle {
    left: 31px; /* 60px - 28px - 1px */
}

/* ****************************************************************************************************************** */
/* ISPOD POSTAVLJAM CSS ZA TABLET */
/* ****************************************************************************************************************** */

@media screen and (min-width: 1060px) {
    #listMobile {
        display: none;
    }
    
    #listButton {
        display: none;  
    }
}

 @media screen  and (max-height: 760px) {
    footer {
        display: none;
    }
} 

@media screen  and (max-width: 1060px) {

    #theme-toggle {
        display: none;
    }

    footer {
        display: none;
    }

    .listPc {
        display: none;
    }
    header {
        display: flex;
        justify-content: center;
    }

    #listContainer {
        overflow: hidden;
        width: 100%;
        margin: 0;
        height: 100%;
        z-index: 1000;
    }

    #listMobile {
        display: flex;
        flex-direction: column;
        background-color: lightgray;
        transform: translateX(-100%);
        transition: transform 0.5s ease;
        width: 100%;
        padding: 10px;
        height: 100%;
        padding-top: 2rem;
        padding-left: 2rem;
    }

    #listMobile a {
        font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        text-decoration: none;
        font-size: 36px;
        margin-left: 3rem;
        margin-bottom: 3rem;
        color: black;
    }

    #listButton {
        position: fixed;
        top: 1rem;
        left: 1rem;
        z-index: 3000;
    }

    #listButton i {
        font-size: 40px;
    }

    #closeButton {
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        position: fixed;
        top: 2rem;
        right: 5rem;
        font-size: 40px;
        width: 40px;
        border: 3px solid black;
        border-radius: 10px;
        z-index: 3000;
    }

    #closeButton:active {
        background-color: rgb(121, 121, 121);
    }

    .background {
        position: absolute;
        top: 15rem;
        left: 0;
        width: 99%;
        height: 80%;
    }
} 

/* ****************************************************************************************************************** */
/* ISPOD POSTAVLJAM CSS ZA TELEFON */
/* ****************************************************************************************************************** */


@media screen  and (max-width: 720px) {

    #theme-toggle {
        display: none;
    }

    footer {
        display: none;
    }

    .listPc {
        display: none;
    }
    header {
        display: flex;
        justify-content: center;
    }
    
    .name h1 {
        font-size: 24px;
    }

    .name h4 {
        font-size: 10px;
    }

    #listContainer {
        overflow: hidden;
        width: 100%;
        margin: 0;
        height: 100%;
        z-index: 1000;
    }

    #listMobile {
        display: flex;
        flex-direction: column;
        background-color: lightgray;
        transform: translateX(-100%);
        transition: transform 0.5s ease;
        width: 100%;
        padding: 10px;
        height: 100%;
        padding-top: 2rem;
        padding-left: 2rem;
    }

    #listMobile a {
        font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        text-decoration: none;
        font-size: 24px;    
        width:80%;
        margin-left: 0.5rem;
        margin-bottom: 4rem;
        color: black;
    }

    #listButton {
        position: fixed;
        top: 1rem;
        left: 1rem;
    }

    #listButton i {
        font-size: 30px;
    }

    #closeButton {
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        position: fixed;
        top: 2rem;
        right: 5rem;
        border: 3px solid black;
        border-radius: 10px;
        font-size: 30px;
        width: 30px;
    }

    #closeButton:active {
        background-color: rgb(121, 121, 121);
    }

    .background {
        position: absolute;
        top: 5rem;
        left: 0;
        width: 99%;
        height: 80%;
    }

    .background img {
        width: 300px;
    }
} 

