* {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body, html {
    background-color: rgb(0, 0, 0);
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    background: url('../images/background.png') no-repeat center center fixed;
    background-size: cover;
}

header, footer {
    width: 90%;
    margin: 0 auto;
    text-align: center;
    padding: 1rem;
}

header {
    display: flex;
    justify-content: space-between;
    height: auto;
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}

header nav {
    align-self: center;
}

header nav a {
    font-weight: bold;
    text-decoration: none;
    color: rgb(226, 226, 226);
    margin-left: 1rem;
    font-size: larger;
}

header nav a:hover {
    border-radius: 5px;
    background-color: white;
    color: rgb(0, 0, 0);
    box-shadow: 0 0 10px 10px rgba(255, 255, 255, 0.7);
}

main {
    width: 90%;
    height: auto;
    margin: 0 auto;
    padding: 1rem;
    margin-top: 10rem;
    margin-bottom: 80px;
    color: white;
    overflow-x: hidden;
}
main h2 {
    color: #7D0000;
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    border-top: 2px solid white;
    color: white;
}

footer a {
    text-decoration: none;
    color: white;
}

footer i {
    cursor: pointer;
    border-radius: 50%;
    width: auto;
    height: auto;
    padding: 0;
    margin-right: 2rem;
    font-size: 30px;
}

footer i:hover {
    box-shadow: 0 0 10px 5px rgba(255, 255, 255, 0.7);
}

.name {
    cursor:not-allowed;
    margin-top: 1rem;
}

.name h1 {
    color: #7D0000;
    margin: 0;
    margin-bottom: 10px;
    font-size: 40px;
}

.name h4 {
    display: flex;
    justify-content: center;
    margin: 0;
    color: white;
}

/* Ispod mozes da dodajes css vezan samo za stranicu, iznad ovoga ti je sablon za izgled */


/* ABOUT STYLE */
.aboutMain .picture {
    display: flex;
    justify-content: center;
}

.aboutMain img {
    width: 500px;
    border-radius: 50px;
    cursor: none;
}
.gif {
    display: flex;
    justify-content: center;
    align-items: center;
}


/* PROJECTS STYLE*/
.projectsMain {
    display: grid;
    grid-template-columns: 20% 80%; 
}
.projectsMain p {
    font-size: 30px;
}

.projectsMain a {
    text-decoration: none;
    color: white;
}

.projectsMain a:hover {
    color: blue;
}

.quizVideo video {
    width: 800px;
}

.videoContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.calculatorContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1rem;
}
.quizContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1rem;
}

.circle {
    width: 400px;
    height: 400px;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: border-radius 5s ease, width 5s ease;
}
.circle:hover {
    width: 700px;
    border-radius: 0;
}
.circle video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* WORKEXPIRIENCE STYLE */
.workExMain a {
    text-decoration: none;
    color: white;
    border-radius: 5px;
    font-weight: bold;
}

.workExMain a:hover {
    background-color: rgb(255, 255, 255);
    color: black;
    box-shadow: 0 0 10px 5px rgba(255, 255, 255, 0.7);
} 

.workExMain li {
    margin: 25px;
    margin-bottom: 20px;
}

/* SKILLS STYLE */
.skillsMain {
    display: flex;
    flex-direction: row;
}

.iconDivContainer {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 50vh;
    width: 100%;
    margin: 0;
    padding: 0;
}

.iconDivContainer img {
    padding: 1rem;
    width: 150px;
    height: 150px;
    transition: width 2s ease, height 2s ease;
}

.skillsMain img:hover {
    width: 200px;
    height: 200px;
}

.iconDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10%;
    height: auto;
    margin-right: 3rem;
}

.background {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: absolute;
    left: 0;
    width: 99%;
    height: 72%;
    background: url('../images/HomeWallpaper.png') repeat;
    animation: moveBackground 40s linear infinite;
}

.background:active {
    animation: stopBackground 40s linear infinite;
}

.background img {
    background: url('../images/background.png') no-repeat center center fixed;
    background-size: cover;
    border-radius: 30px;
}


@keyframes stopBackground {
    from {
        background-position: 0 0;
    }
    to {
        background-position: -100% 0; 
    }
}


@keyframes moveBackground {
    from {
        background-position: 0 0;
    }
    to {
        background-position: 100% 0; 
    }
}

/* CONTACT STYLE */
.contactMain div {
    display: flex;
    justify-content: space-evenly;
}

.contactMain i {
    cursor: help;
    color: white;
    font-size: 80px;
    padding: 5%;
    margin-top: 10%;
}

#instagram:hover {
    background: linear-gradient(to bottom, rgb(153, 0, 255), rgb(216, 36, 96), rgb(255, 0, 157), yellow);
    border-radius: 10px;
}

#linkedin:hover {
    color: blue;
    background-color:white;
    border-radius: 10px;
}

#github:hover {
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    border-radius: 46%;
}

#email:hover {
    background: linear-gradient(to right, blue, red, yellow, green);
    border-radius: 10px;
}

.contactInformation {
    display: flex;
    justify-content: center;
    margin-top: 3rem;
}

.contactInformation p {
    font-size: 26px;
}

#contactInformationTextMobile {
    display: none;
}

/* ISPOD POSTAVLJAM CSS ZA TABLET/TAKO NESTO */

@media screen and (min-width: 1060px) {
    #listMobile {
        display: none;
    }
    
    #listButton {
        display: none;  
    }
}

@media screen  and (max-height: 760px) {
    footer {
        display: none;
    }
    
} 

@media screen and (max-width: 1060px) {

    footer {
        display: none;
    }

    .listPc {
        display: none;
    }

    body, html {
        margin: 0;
        padding: 0;
        width: 100%;
        height: 100%;
    }

    main {
        z-index: 2000;
    }

    header {
        display: flex;
        justify-content: center;
        margin: 0;
        width: 100%;
    }

    header nav {
        display: none;
    }

    #listContainer {
        width: 100%;
        height: 100%;
        z-index: 2000;
        position: fixed;
        top: 0;
        left: 0;
    }

    #listMobile {
        display: flex;
        flex-direction: column;
        background-color: lightgray;
        transform: translateX(-100%);
        transition: transform 0.5s ease;
        width: 100%;
        height: 100%;
        padding: 10px;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 1000;
    }

    #listMobile a {
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        text-decoration: none;
        font-size: 36px;
        width: auto;
        margin-left: 3rem;
        margin-bottom: 3rem;
        color: black;
    }

    #listButton {
        position: fixed;
        top: 1rem;
        left: 1rem;
        z-index: 3000;
    }

    #listButton i {
        font-size: 40px;
    }

    #closeButton {
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        position: fixed;
        top: 2rem;
        right: 5rem;
        font-size: 40px;
        width: 40px;
        border: 3px solid black;
        border-radius: 10px;
        z-index: 3000;
    }

    #closeButton:active {
        background-color: rgb(121, 121, 121);
    }

    #contactInformationText {
        display: none;
    }
    
    #contactInformationTextMobile {
        display: block;
    }

    /* ISPOD MENJAJ OVO IZNAD JE SABLON */

    /* ABOUT STYLE */
    .aboutMain img {
        width: 300px;
    }

    /* PROJECT STYLE */
    .projectsMain {
        display: flex;
        flex-direction: column;
        font-size: 24px;
    }

    .videoContainer {
        display: flex;
        flex-direction: column;
    }

    /* SKILLS STYLE */

    .skillsMain {
        display: flex;
        flex-direction: row;
    }

    .iconDivContainer {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        margin: 0;
        padding: 0;
        overflow-x: hidden;
        height: 100%;
    }

    .iconDivContainer img {
        width: 200px;
        height: 200px;
        transition: width 2s ease, height 2s ease;
    }

    .iconDiv {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 30%;
        height: auto;
        margin-right: 3dvi;
    }
}

/* ISPOD IDE STYLE ZA TELEFON */

@media screen  and (max-width: 720px) {

    footer {
        display: none;
    }

    .listPc {
        display: none;
    }
    header {
        display: flex;
        justify-content: center;
    }

    main {
        font-size: small;
    }
    
    .name h1 {
        font-size: 24px;
    }

    .name h4 {
        font-size: 10px;
    }

    #listContainer {
        overflow: hidden;
        width: 100%;
        margin: 0;
        height: 100%;
        z-index: 1000;
    }

    #listMobile {
        display: flex;
        flex-direction: column;
        background-color: lightgray;
        transform: translateX(-100%);
        transition: transform 0.5s ease;
        width: 100%;
        padding: 10px;
        height: 100%;
        padding-top: 2rem;
        padding-left: 2rem;
    }

    #listMobile a {
        font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        text-decoration: none;
        font-size: 24px;    
        width:80%;
        margin-left: 3rem;
        margin-bottom: 4rem;
        color: black;
    }

    #listButton {
        position: fixed;
        top: 1rem;
        left: 1rem;
    }

    #listButton i {
        font-size: 30px;
    }

    #closeButton {
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        position: fixed;
        top: 2rem;
        right: 5rem;
        border: 3px solid black;
        border-radius: 10px;
        font-size: 30px;
        width: 30px;
    }

    #closeButton:active {
        background-color: rgb(121, 121, 121);
    } 

    /* ISPOD MENJAJ OVO IZNAD JE SABLON */

    /* CONTACT STYLE */
    .contactMain i {
        font-size: 36px;
    }

    .contactInformation p {
        font-size: small;
    }

    /* ABOUT STYLE */
    .aboutMain img {
        width: 300px;
    }

    /* WORK STYLE */
    .workExMain a:hover {
        color: white;
        background-color: transparent;
        box-shadow: none;
    }

    /* PROJECT STYLE */
    .projectsMain p {
        display: flex;
        flex-direction: column;
        font-size: 12px;
    }

    .projectsMain video {
        width: 250px;
        height: 250px;
    }

    .videoContainer h1 {
        font-size: small;
    }

    .videoContainer {
        display: flex;
        flex-direction: column;

    }

    /* SKILLS STYLE */

    .skillsMain {
        display: block;
    }

    .iconDivContainer img {
        border-radius: 0;
        width: 200px;
        height: 200px;
        justify-self: center;
    }

    .iconDivContainer img:hover {
        width: 200px;
        height: 200px;
    }


    .iconDivContainer {
        display: block;
        overflow-x: hidden;
        height: 100%
    }

    .iconDiv {
        width: 100%;
        height: auto;
        padding: 0;
        margin: 0;
    }

} 